<h1>Edit Workout</h1>

<%= simple_form_for @workout, :html => { :multipart => true } do |f| %>
	<%= f.select :category_id, @categories %>
	<%= f.input :title, label: "Workout Title" %>
	<%= f.input :description %>
	<%= f.input :author %>
	<%= f.button :submit %>
<% end %>