<div class="col-md-6 col-md-offset-3">

<div class="new-book-form">

	<h1>Edit Workout</h1>

	<%= simple_form_for @workout, :html => { :multipart => true } do |f| %>
		<%= f.select :category_id, @categories %>
		<%= f.file_field :workout_img %>
		<%= f.input :title, label: "Workout Title" %>
		<%= f.input :description %>
		<%= f.input :author %>
		<%= f.button :submit, :class => "btn-custom2" %>
	<% end %>

	</div>
</div>