<div class="row">

	<div class="col-md-4">

	<%= image_tag @workout.workout_img.url(:workout_show), class: "workout_show" %>

	</div>
	<div class="col-md-8">
	<h2><%= @workout.title %></h2>
	<h3><%= @workout.author %></h3>
	<h2>Average Rating</h2>
	<div class="average-review-rating" data-score=<%= @average_review %>></div>
	<span>Based on <%= @workout.reviews.count %> reviews </span>
	<p><%= @workout.description %></p>
	</div>

</div>

<div class="row">

<div class="col-md-4">

<!-- where the reviews/ratings will go -->
<%= render @workout.reviews %>

<div>
	<%= link_to "Add Review", new_workout_review_path(@workout) %>
</div>

</div>

</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

	<% if @workout.user_id == current_user.id %>

	<%= link_to "Edit", edit_workout_path(@workout) %>
	<%= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>

	<% end %>


	<script> 
		$('.review-rating').raty({
			readOnly: true,
			score: function() {
				return $(this).attr('data-score');
			},
			path: '/assets/'
		});
	</script>

	<script>
		$('.average-review-rating').raty({
			readOnly: true,
			path: '/assets/',
			score: function() {
				return $(this).attr('data-score')
			}
		});
	</script>