<div class="row">

	<div class="col-md-4">

	<%= image_tag @workout.workout_img.url(:workout_show), class: "workout_show" %>

	</div>
	<div class="col-md-8">
	<h2><%= @workout.title %></h2>
	<h3><%= @workout.author %></h3>
	<p><%= @workout.description %></p>
	</div>

</div>

<div class="row">

<div class="col-md-4">

<!-- where the reviews/ratings will go -->

</div>

</div>

<%= link_to "Back", root_path %>

<% if user_signed_in? %>

	<% if @workout.user_id == current_user.id %>

	<%= link_to "Edit", edit_workout_path(@workout) %>
	<%= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" } %>
	<% end %>

	<% end %>